<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h3 class="title">Criar cliente:</h3>
      <button class="close-btn"  (click)="closeModal()">X</button>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <app-input
          label="Valor da empresa"
          placeholderText="Digite o nome:"
          [(ngModel)]="clientData.name"
          name="name"
          type="text"
        />
        <app-input
          label="Valor da empresa"
          placeholderText="Digite o salário:"
          [(ngModel)]="clientData.salary"
          name="salary"
        />
        <app-input
          label="Valor da empresa"
          placeholderText="Digite o valor da empresa"
          [(ngModel)]="clientData.companyValuation"
          name="companyValuation"
        />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-create-client">Criar cliente</button>
      </div>
    </form>
  </div>
</div>
